.tags {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.tag {
  text-align: center;
  background: var(--main-clr);
  color: var(--light);
  border-radius: 10px;
  margin: 5px;
  margin-left: 0;
  font-size: 10px;
  min-width: 84px;
  width: auto;
  padding: 3px 5px;
}

@media screen and (min-width: 600px) {
  .tag {
    font-size: var(--mouse);
    min-width: 115px;
    padding: 8px 10px;
  }
}
