.next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  padding: 2em;
  background: transparent;
  cursor: pointer;
  left: unset;
  right: 0;
}

.next img {
  width: 12px;
  height: 20px;
}

@media screen and (min-width: 600px) {
  .next img {
    width: 47px;
    height: 80px;
  }
}
