.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notfound h1 {
  font-weight: bold;
  font-weight: bold;
  font-size: 288px;
}

.notfound h2 {
  font-weight: 500;
  font-size: 36px;
  color: var(--main-clr);
}

.link {
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
  color: var(--main-clr);
}
