.infos {
  width: 100%;
  max-width: 335px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.infos-left {
  text-align: left;
}
.infos-right {
  text-align: right;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .infos {
    max-width: 1240px;
  }
  .infos-right {
    width: unset;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .accordions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-auto-rows: 320px;
  }
}
