header {
  padding: 1em 0;
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* mobile */
@media screen and (max-width: 599px) {
  header .logo {
    width: 145px;
    height: 47px;
  }
}

/* computer */
@media screen and (min-width: 600px) {
  header {
    padding: 1em 0.5em;
  }
}
