nav {
  text-align: right;
}

.nav-link {
  padding: 1em;
  font-weight: 500;
  font-size: 12px;
  color: var(--main-clr);
}

@media screen and (min-width: 600px) {
  .nav-link {
    font-size: 24px;
  }
}
