.accordion {
  margin: 1em auto;
  width: 100%;
  max-width: 335px;
}

.accordionBtn {
  background: var(--main-clr);
  color: var(--light);
  cursor: pointer;
  padding: 18px 30px;
  border-radius: 10px;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
  width: 100%;
}

.accordionPanel {
  padding: 20px;
  display: none;
  background: #f7f7f7;
  color: var(--main-clr);
  font-weight: normal;
  font-size: var(--ant);
  margin: 0 auto 1em;
  border-radius: 0 0 10px 10px;
  top: -10px;
  width: 100%;
  z-index: -1;
  position: relative;
}

.accordionPanel ul {
  padding: 0 10px;
}

.accordionPanel li {
  font-size: var(--ant);
  list-style: none;
  font-weight: normal;
}

.accordionBtn img {
  width: 9px;
  height: auto;
}

@media screen and (min-width: 600px) {
  .accordion {
    max-width: 1023px;
  }
  .accordionHalf {
    max-width: 582px;
  }
  .accordionPanel {
    padding: 30px;
  }

  .accordionBtn img {
    width: 15px;
  }
  .accordionBtn,
  .accordionPanel {
    font-size: calc(var(--ant) * 2);
  }
  .accordionBtnSmall,
  .accordionPanelSmall,
  .accordionPanel li {
    font-size: var(--human);
  }
  .accordionPanelSmall {
    height: 100%;
  }
}
