.accordion {
  margin: 1em auto;
}

.accordionBtn {
  background: var(--main-clr);
  color: var(--light);
  cursor: pointer;
  padding: 18px 30px;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  font-size: 13px;
  transition: 0.4s;
  width: 100%;
  max-width: 1023px;
}
.accordionBtnSmall {
  max-width: 582px;
}

.accordionPanel {
  padding: 20px;
  display: none;
  line-height: 142.6%;
  background: var(--grey);
  color: var(--main-clr);
  overflow: hidden;
  font-weight: normal;
  font-size: var(--ant);
  max-width: 978px;
  margin: 1em auto;
}
.accordionPanel.active {
  display: block;
}

.accordionPanelSmall {
  max-width: 550px;
}

@media screen and (min-width: 600px) {
  .accordionBtn,
  .accordionPanel {
    font-size: calc(var(--ant) * 2);
  }
  .accordionBtnSmall,
  .accordionPanelSmall {
    font-size: var(--human);
  }
}
