.accordionBtn {
  background: var(--main-clr);
  color: var(--white);
  cursor: pointer;
  padding: 18px;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  font-size: 24px;
  transition: 0.4s;
}
.accordionBtnSmall {
  font-size: 18px;
}

.accordionPanel {
  padding: 0 18px;
  display: none;
  background: var(--grey);
  color: var(--main-clr);
  overflow: hidden;
  font-weight: normal;
  font-size: 24px;
}
.accordionPanel.active {
  display: block;
}

.accordionPanelSmall {
  font-size: 18px;
}