.slider {
  width: 100%;
  max-width: 335px;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slide {
  transition: all ease-in-out 0.45s;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
}

.slide.isActive {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .slider {
    max-width: 1240px;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
  }

  .slide {
    border-radius: 25px;
  }
}
